[submodule "3rdparty/HighFive"]
	path = 3rdparty/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "3rdparty/pybind11"]
	path = binds/python/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/GSL_LITE"]
	path = 3rdparty/GSL_LITE
	url = https://github.com/martinmoene/gsl-lite.git
[submodule "3rdparty/lexertl14"]
	path = 3rdparty/lexertl14
	url = https://github.com/BenHanson/lexertl14
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "3rdparty/ghc_filesystem"]
	path = 3rdparty/ghc_filesystem
	url = https://github.com/gulrak/filesystem.git
