# Python wheels
*.whl

.eggs/
bin/
src/version.cpp
morphio.egg-info/
MorphIO.egg-info/
.venv

*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
.tags
build/
.*.swp
*.idea
ci/venv*
cmake-build*
env*
venv-clang-format/
