# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
CMakeLists.txt.user*
Makefile
.travis.yml
CMake/common/
BBPTestData/
Lunchbox/
vmmlib/
Debug/
Release/
