[submodule "3rdparty/HighFive"]
	path = 3rdparty/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/gsl-lite"]
	path = 3rdparty/GSL-LITE/
	url = https://github.com/martinmoene/gsl-lite.git
[submodule "3rdparty/lexertl"]
	path = 3rdparty/lexertl
	url = https://github.com/BenHanson/lexertl.git
