[submodule "deps/hadoken"]
	path = deps/hadoken
	url = https://github.com/adevress/hadoken.git
[submodule "deps/highfive"]
	path = deps/highfive
	url = https://github.com/BlueBrain/highfive.git
[submodule "deps/mvd-tool"]
	path = deps/mvd-tool
	url = https://github.com/BlueBrain/MVDTool.git
[submodule "deps/cereal"]
	path = deps/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "deps/git-cmake-format"]
	path = deps/git-cmake-format
	url = git@github.com:tristan0x/git-cmake-format.git
	branch = bbp
