matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    # - os: osx
    #   osx_image: xcode10.1
cache:
  directories:
    - $HOME/.cache/pip
    # - $HOME/Library/Caches/Homebrew
language: python
sudo: required
python:
  - 3.6

before_install:
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get install libhdf5-dev; else brew install hdf5; fi
  - pip install virtualenv
  - virtualenv env && source env/bin/activate
install:
  - pip install --upgrade pip
  - pip install .
script:
  # Need to concatenate all commands with otherwise Travis only looked at the output code of the last command

  # Testing compilation with warning as error
  - rm -rf build; mkdir build && pushd build && cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=../.ContinousIntegration.cmake .. && make -j && popd &&
    ./scripts/check-clang-format-all &&
    pip install -r tests/requirement_tests.txt &&
    nosetests
