jobs:
  include:
    - os: linux
      dist: xenial
      env:
        CXX: g++
        CC: gcc
    - os: linux
      dist: xenial
      env:
        CXX: g++
        CC: gcc
      python: 2.7
    - os: linux
      dist: xenial
      env:
        CXX: clang++
        CC: clang

    - os: osx
      osx_image: xcode10.1
      language: generic
      env:
        CXX: clang++
        CC: clang
    - os: osx
      osx_image: xcode10.1
      language: generic
      env:
        CXX: g++
        CC: gcc

# cache:
#   directories:
#     - $HOME/.cache/pip
#     - $HOME/Library/Caches/Homebrew
language: python
python:
  - 3.7

before_install:
  - if [[ $TRAVIS_OS_NAME = linux ]]; then sudo apt-get install libhdf5-dev; else brew list hdf5 || brew install hdf5; fi
install: skip
script:
  - ./ci/python_test.sh
  - ./ci/cpp_test.sh
