notifications:
  email:
    on_success: never
language: cpp
sudo: false
os:
  - osx
env:
  global:
    - NINJA_STATUS="[%p %u/%t@%o %r]"
    - PROJECT_NAME=${PWD##*/}
  matrix:
  - BUILD_TYPE=Debug
  - BUILD_TYPE=Release
before_install:
  - brew update
  - brew outdated cmake || brew upgrade cmake
  # We need to install gcc before hdf5 because otherwise hdf5 will fail.
  # The or statement is a hack to ensure we override the existing gcc without
  # having an error
  - brew install gcc || brew link --overwrite gcc
  - brew install cppcheck doxygen ninja
  - brew install hdf5
  - brew install boost-python
script:
  - mkdir $BUILD_TYPE
  - cd $BUILD_TYPE
  - HDF5_ROOT=/usr/local/opt/hdf5 cmake -GNinja -DCLONE_SUBPROJECTS=ON -DCMAKE_INSTALL_PREFIX=$PWD/install -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
  - ninja all && ninja $PROJECT_NAME-tests && ninja smoketests
