matrix:
  include:
    - os: linux
      dist: xenial
      sudo: required
      env:
        CXX: g++
        CC: gcc
    - os: linux
      dist: xenial
      sudo: required
      env:
        CXX: clang++
        CC: clang

    - os: osx
      osx_image: xcode10.1
      language: generic
      python: 3.6
      env:
        CXX: clang++
        CC: clang
    - os: osx
      osx_image: xcode10.1
      language: generic
      python: 2.7
      env:
        CXX: g++
        CC: gcc

cache:
  directories:
    - $HOME/.cache/pip
    # - $HOME/Library/Caches/Homebrew
language: python
sudo: required
python:
  - 3.7

before_install:
  - if [[ $TRAVIS_OS_NAME = linux ]]; then sudo apt-get install libhdf5-dev; else brew install hdf5; fi
install: skip
script:
  - ./python_test.sh
  - ./cpp_test.sh
