recursive-include src *
recursive-include binds *
recursive-include include *
recursive-include 3rdparty/GSL_LITE/ *
recursive-include 3rdparty/lexertl/ *
recursive-include 3rdparty/pybind11/ *
recursive-include 3rdparty/HighFive/include/ *
include CMakeLists.txt
