name: docstring-check
on: [pull_request, push]

env:
  apt_options: -o Acquire::Retries=3

jobs:
  build:
    name: docstring-check
    runs-on: ubuntu-20.04

    # Run on external PRs, but not internal PRs as they'll be run by the push
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    steps:
      - name: Fetch repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install packages
        run: |
          sudo apt-get ${{env.apt_options}} update -y
          sudo apt-get ${{env.apt_options}} install -y build-essential libhdf5-dev python3-venv libclang1-12
      - name: Check docstrings
        run: |
          export LIBCLANG_PATH=/usr/lib/x86_64-linux-gnu/libclang-12.so
          ci/check_generated_docstrings.sh || true
