name: Publish sdist and wheels macos-manylinux

# on:
#   push:
#     tags:
#       - 'v[0-9]+.[0-9]+.[0-9]+'
on:
  pull_request:

env:
  CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
  MACOSX_DEPLOYMENT_TARGET: '10.13'
  CIBW_BUILD_VERBOSITY: 2
  # Only build on Python 3.x
  CIBW_BUILD: 'cp3?-*'
  CIBW_SKIP: 'cp35-* cp39-* *-manylinux_i686 *-win32'
  CIBW_BEFORE_TEST: pip install nose mock h5py
  CIBW_TEST_COMMAND: nosetests -s -v -P {project}\tests

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Add msbuild to PATH on Windows
        uses: microsoft/setup-msbuild@v1.0.2
        if: runner.os == 'Windows'

      - name: Setup Miniconda on Windows
        uses: conda-incubator/setup-miniconda@v2
        if: runner.os == 'Windows'
        with:
          auto-update-conda: true
          python-version: '3.7'

      - name: Install cibuildwheel
        run: |
          python -m pip install cibuildwheel==1.6.4

      - name: Build wheels on Linux
        if: runner.os == 'Linux'
        env:
          CIBW_BEFORE_BUILD: 'yum update -y; yum -y install hdf5-devel'
        run: |
          python -m cibuildwheel --output-dir dist

      - name: Build wheels on Mac OS
        if: runner.os == 'macOS'
        env:
          CIBW_BEFORE_BUILD: 'brew update; brew install cmake hdf5'
        run: |
          python -m cibuildwheel --output-dir dist

      - name: Build wheels on Windows
        if: runner.os == 'Windows'
        env:
          MORPHIO_CMAKE_GENERATOR: 'Visual Studio 16 2019'
          CIBW_TEST_COMMAND: nosetests -s -v -P {project}\tests  # Uses a backlash instead of a forward slash...
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda update -q conda
          conda install -c conda-forge hdf5
          python -m cibuildwheel --output-dir dist

      - name: Store wheel as artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  # build_sdist:
  #   name: Build sdist
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - name: Set up Python 3.6
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: 3.6
  #     - name: Build a source tarball
  #       run:
  #         python setup.py sdist
  #     - name: Store sdist as artifact
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: dist
  #         path: dist

  # upload_wheels:
  #   runs-on: ubuntu-latest
  #   needs: [build_wheels, build_sdist]
  #   name: Upload wheels to PyPI
  #   steps:
  #     - name: Download artifacts produced during the build_wheels and build_sdist jobs
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: dist
  #         path: dist

  #     - name: Display structure of downloaded files
  #       run: ls -R
  #       working-directory: dist

  #     - name: Publish package to PyPI
  #       uses: pypa/gh-action-pypi-publish@master
  #       with:
  #         user: __token__
  #         password: ${{ secrets.PYPI_PASSWORD }}
  #         packages_dir: dist/
