name: Run tests
on: [pull_request, push]

jobs:
  build:
    name: Run tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        compiler:
          - CC: clang
            CXX: clang++
          - CC: gcc
            CXX: g++

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Install packages on Linux
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install build-essential libhdf5-dev

      - name: Install packages on MacOS
        if: runner.os == 'macOS'
        run: |
            brew update
            brew --version
            brew install cmake || true  # macos image has cmake installed, but a new version may exist; ignore it if so
            brew install hdf5

      - name: Build and run unittests
        env:
          CC: ${{ matrix.compiler.CC }}
          CXX: ${{ matrix.compiler.CXX }}
        run: |
          ./ci/python_test.sh
          ./ci/cpp_test.sh
          ./ci/cpp_test.sh "-DMORPHIO_USE_DOUBLE=ON"
