name: Run tests
on:
    pull_request:

jobs:
  build:
    name: Run tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        compiler:
          - CC: clang
            CXX: clang++
          - CC: gcc
            CXX: g++

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Install packages on Linux
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install build-essential libhdf5-dev

      - name: Install packages on MacOS
        if: runner.os == 'macOS'
        run: brew update && brew install cmake hdf5

      - name: Build and run unittests
        env:
          CC: ${{ matrix.compiler.CC }}
          CXX: ${{ matrix.compiler.CXX }}
        run: |
          ./ci/python_test.sh
          ./ci/cpp_test.sh
